SUPERSET_SECRET_KEY=super-secret-key-change-me

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=superset
POSTGRES_USER=superset
POSTGRES_PASSWORD=superset

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
