# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Docker
volumes/postgres/*
!volumes/postgres/.gitkeep

volumes/superset_home/*
!volumes/superset_home/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
